<% if user_signed_in? %>
  <% if current_user.favorite?(video) %>
    <div class="like-button">
      <%= button_to video_like_path(video, user_id: current_user.id, video_id: video.id), method: :delete, id: "like-button", remote: true do %>
        <%= image_tag("heart-solid.svg") %>
      <% end %>
    </div>
  <% else %>
    <div class="like-button">
      <%= button_to video_likes_path(video, user_id: current_user.id), method: :post, id: "like-button", remote: true do %>
        <%= image_tag("heart-regular.svg") %>
      <% end %>
    </div>
  <% end %>
<% end %>
