<div class="section-contents-inner-video-inner-player">
  <div class="section-contents-inner-video-inner-bg">
    <div class="section-contents-inner-video-inner-image" style="background-image:url(<%= thumb_url %>);"></div>
  </div>
  <div class="section-contents-inner-media-wrapper">
    <div id="section-contents-inner-media-play" style="background-image:url(<%= thumb_url %>);"></div>
    <video id="section-contents-inner-media-player" width="520" height="924" style="max-width:100%" preload="auto" controls>
      <source src="<%= video_url %>" type="video/mp4" />
    </video>
  </div>
</div>
