<footer id="section-footer">
  <div class="section-footer-outer">
    <div class="section-footer-outer-follow">
      <div class="section-footer-outer-follow-text">
        <p>30の公式アカウントもフォローしてね♪</p>
      </div>
      <div class="section-footer-outer-follow-btn">
        <div class="section-footer-outer-follow-btn-sns">
          <ul class="clearfix">
            <li class="twitter"><a href="https://twitter.com/vem_30" target="_blank">Twitter</a></li>
            <li class="facebook"><a href="https://www.facebook.com/vem30.jp/" target="_blank">Facebook</a></li>
            <li class="instagram"><a href="https://www.instagram.com/30_thirty_/" target="_blank">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section-footer-inner">
    <div class="section-footer-inner-link">
      <ul class="clearfix">
        <li><a href="http://firebug.jp/" target="_blank">運営会社</a></li>
        <li><a href="https://vem30.com/terms/">利用規約</a></li>
        <li><a href="https://vem30.com/privacy/">プライバシーポリシー</a></li>
        <li><a href="https://vem30.com/license/">ライセンス</a></li>
      </ul>
      <span>&copy;FIREBUG Inc,</span>
    </div>
  </div>
</footer><!-- /#section-footer -->
