<header id="section-header">
  <div class="section-header-inner">
    <div class="section-header-inner-head clearfix">
      <div class="section-header-inner-head-logo">
        <h1><a>30</a></h1>
      </div>
    </div>
  </div>
</header><!-- /#section-header -->
