#section-contents {
  .section-contents-error-title {
    font-size: 21px;
    margin: 12px 0px 24px;
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    border: solid 1px #cdcdcd;

    code {
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      background: transparent;

      p {
        font-size: 14px;
        line-height: 2px;
      }
    }
  }
}

.section-contents-inner-video-inner-detail-title {
  padding-top: 10px;
}

.section-header-inner {
  border-bottom: solid 1px #efefef !important;

  .section-header-inner-head {
    padding: 2% 5% !important;
  }

  .menu {
      display: flex;
      position: relative;
      margin-right: 16px;
      cursor: pointer;
      user-select: none;
      outline: none;
      float: left;
      height: 32px;
      width: 32px;
    }

    .section-header-inner-head-logo {
      
      width: 150px !important;
      margin: auto;

      h1 {
        width: initial !important;
      }
    }

    @media only screen and (min-width: 781px) {
      .section-header-inner-head-logo {
        position: initial !important;
        top: initial !important;
        left: initial !important;
        margin: 0 auto  !important;
      }
    }
}

#section-contents-inner-video {
  border-bottom: solid 1px #efefef !important;
}

@media only screen and (min-width: 781px) {
  #section-contents-inner-video {
    margin-top: 10px !important;
  }
}


@media only screen and (min-width: 781px) {
  .section-contents-inner-video-inner-premium {
    display: none;
  }
}

.section-contents-inner-video-inner-premium {
  border: 1px solid #c6b362;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  overflow: hidden;
  margin: 5% 13%;

  div {
    text-align: center;
    padding: 10px;

    p {
      display: inline;
      font-size: 13px !important;
      font-size: 3.27044vw !important;
    }
  }
}

.section-contents-inner-video-inner-premium-span {
  padding: 4px 6px;
  background-color: #c6b362;
  color: white;
  font-size: 10px;
  border-radius: 2px;
  line-height: 5vw;
  vertical-align: middle;
}

.section-contents-inner-video-inner-detail-title {
  width: 80% !important;
  margin: 3% 5% 0 !important;

  p {
    font-size: 5vw !important;
    line-height: 7vw;
  }

  @media only screen and (min-width: 781px) {
    p {
      font-size: 30px !important;
    }
  }
}

.section-contents-inner-video-inner-detail-serise {
  margin: 4% 5% 5% !important;

  .section-contents-inner-video-inner-detail-serise-l {
    padding-right: 4% !important;
    padding-left: 2% !important;
  }

  p {
    font-size: 3vw;
    color: #555555;
  }
}

.comment{
  float: right;
}

@media only screen and (min-width: 781px) {
  .section-contents-inner-video-inner-detail-serise {
    margin: 2% 5% 5% !important;
  }
}

.section-contents-inner-app {
  margin: 5% 13% !important;
}

.index-title{
  text-align: center;
  padding: 30px 0;

  h1{
  font-weight: bold;
  font-size: 50px;
  }
}

.user-name{
  text-align: center;

  a{
  padding: 0 5% 0;
  width: 100%;
  }

  h2{
  font-weight: bold;
  font-size: 50px;
  }
}

.search-bar{
  width: 100%;
  max-width: 720px;
  position: relative;
  height: 50px;

  .form-control {
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px;
    border-right:none;
    border:solid 3px #eaeaea;
    outline: 0;
    font-size: 20px;
  }

  .btn{
    padding: 0;
    width: 80px;
    height: 58px;
    position: absolute;
    left: 100%;
    top: 0;
    border-radius:0 10px 10px 0;
    background: #ff8b7f;
    color:#fff;
    border:solid 3px #eaeaea;
    border-left:none;
    font-weight:bold;
    font-size:16px;
    outline: 0;
  }

  .btn:hover{
    background:#eaeaea;
    color: #ff8b7f;
  }
}

.video-comments{
   .clearfix::after{
  content: "";
  display: block;
  clear: both;
  }

  a{
    float: right;
  }

}

.meta{
  padding: 20px;
  .meta-title{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .user_review{
    padding-left: 10px;
  }
}

.form-group{

}
